.center-card {
    max-width: 600px;
    margin: auto;
    margin-top: 10px;
    padding: 30px;
}

mat-form-fiel{
    width: 100%;
}.create-button {
  float: right;
}
.create-button {
    float: right;
  }