.card-container {
    margin: 16px;
    max-width: 60%;
    padding-bottom: 30px;
}

mat-card{
    padding: 10px;
}

.example-header-image{
    background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
    background-size: cover;
}

mat-card-header{
    margin-top: 10px;
}   

mat-card-footer{
    margin-left: 20px;
}

.img{
    margin-top: 20px;
}

.comment-card{
    margin-top: 20px;
}

mat-form-field{
    width: 100%;
}